.rowWithCells {
	display:table; 
	width:90%; 
	border:2px solid #CC0000;
	border-collapse:separate; 
	margin-bottom:2px;
	margin-top:auto;
	margin-right:auto;
	margin-left:auto;
}

.singleCell {
	display:table-cell; 
	width:30%; 
}

.middleCell{
	display:table-cell;
	border-left:3px dashed;
	border-right:3px dashed;
	width:30%;
}

.cellTitle{
	display:table;
	margin-right:auto;
	margin-bottom:auto;
	margin-top: 1em;	
	margin-left: .5em;
	border: 5px groove #000099;
	font-size:16px;
	font-weight:bold;
	padding: 3px;
	padding-left:1em;
	padding-right:1em;
	background-color:#FFFFFF;
}

.cellLink{
	margin-top:1em;
	margin-bottom: 1em;
	margin-left: 2em;
	margin-right:auto;
	color:#000000;
}

.labTitle{
	margin-top:.5em;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:1.2em;
	text-align:center;
	font-size:1.4em;
	font-weight:bold;
}

.picture { 
	width:300px; 
	height:200px;
	margin-top:1em;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 3em;}

figure { 
	text-align:center;
}
figcaption {
	margin:auto;
	margin-top:.35em;	
	border: 5px groove #000099;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	padding: 3px;
	padding-left:1em;
	padding-right:1em;
	background-color:#FFFFFF;
}

.table4Caption{
	text-decoration:underline;
	text-align:center;
	margin:auto;
	margin-top:1em;
	font-weight:bold;
}

table{
	width:80%;
	margin:auto;
	margin-bottom:auto;
	margin-top:1em;
	border:6px solid;
	border-collapse:separate;
	border-spacing:4px;
}

th{
	border:3px solid;
	border-collapse:separate;
	border-spacing:4px;
	padding: 6px;
	text-align:center;
	vertical-align:center;
}

td{
	border:3px solid;
	border-collapse:separate;
	border-spacing:4px;
	padding: 6px;
	text-align:left;
}

.listTitle{
	display:table;
	text-align:left;
	font-weight:bold;
	text-decoration:underline;
	margin-top:1em;
	margin-bottom:1em;
	margin-left:.3em;
}

body{
	background-color:#CCCCCC;
}

a{
	color:#000000;
	text-decoration:none;
}

a:visited{
	color:#000000;
	text-decoration:none;
}